<html>
    <header>
        <title>Sign Up Page</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    </header>
    <body>
        <h1>Sign Up for the website!</h1>
        <form method="POST" action="/users/new">
            <input type="text" name="username" placeholder="Username" maxlength="255" required><br>
            <input type="password" name="password" placeholder="Password" maxlength="255" required><br>
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>